@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue-Regular.woff) format(otf);
}

:root {
  --blue: #8ca9ff;
}

/* @media (max-width: 450px) {
  .heading {
    font-size: 3rem;
  }
} */

* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font: 18px/36px "BebasNeue", "Arial Narrow", arial, sans-serif;
}
.header {
  width: 2000px;
  margin: auto;
  position: relative;
}

.judul {
  display: flex;
  font-size: 50px;
  font-weight: 800px;
  float: left;
  font-family: cooper;
  color: #8ca9ff;
}

.menu {
  float: right;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  padding: 1rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 80px;
  z-index: 1000;
  box-shadow: 2px 2px 5px rgba(1, 1, 3, 0.5);
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header ul li {
  float: left;
}

header ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

header ul li a:hover {
  text-decoration: underline;
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/jebewon.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  margin-top: 55px;
}

.hero .content h1 {
  font-size: 50px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

.hero .content h1 span {
  color: #0c193e;
}

.hero .content p {
  font-size: 20px;
  color: #fff;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

.hero .content .cta {
  color: #fff;
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  background-color: #4a61a4;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.4s ease;
}

.hero .content .cta:hover {
  transform: scale(1.12);
}

/* about section */

.heading {
  text-align: center;
  font-size: 4rem;
  color: #8ca9ff;
  padding: 2rem;
  margin: 2rem;
  background: rgba(51, 146, 255, 0.05);
  font-family: cooper;
}

.about {
  padding: 8rem 7% 1.4rem;
}

.about h1 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  font-family: cooper;
  color: #0c193e;
}

.about h1 span {
  color: var(--blue);
}

.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .vid-about {
  flex: 1 1 150rem;
}

.about .row .vid-about video {
  width: 100%;
  border: 1.5rem solid white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.about .row .content {
  flex: 1 1 35 rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.about .row .content p {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  color: #999;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

/* members section */

.members {
  padding: 8rem 7% 1.4rem;
}

.members h1 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  font-family: cooper;
  color: #0c193e;
}

.members h1 span {
  color: var(--blue);
}

.members .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.members .row .foto {
  text-align: center;
  padding-bottom: 2rem;
}

.members .row .foto img {
  border-radius: 50%;
  width: 80%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  transition: transform 0.4s ease;
  position: relative;
}

.members .row .foto img:hover {
  transform: scale(1.12);
}

.members .row .foto .img-name {
  margin-top: 1rem auto 0.5rem;
  font-family: cooper;
}

/* Footer */
footer {
  background-color: var(--blue);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: black;
}

footer .links {
  margin-bottom: 0.5rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer.credit a {
  color: black;
  font-weight: bold;
}
